spatial.log
spatialos_worker_packages.json
build/
logs/
workers/unity/external-default-unityclient.log
workers/unity/Assets/Plugins/Improbable/Editor/Generated/
workers/unity/Assets/Plugins/Improbable/Editor/Generated.meta
workers/unity/Assets/Plugins/Improbable/Generated/
workers/unity/Assets/Plugins/Improbable/Generated.meta
workers/unity/Assets/Plugins/Improbable/EntityPrefabs/
workers/unity/Assets/Plugins/Improbable/EntityPrefabs.meta
workers/unity/Assets/Plugins/Improbable/Sdk/Dll/Generated.Code.*

# Worker SDK
dependencies/worker_sdk/

# Generated code from schema
generated_code/

# Cache from generated code and other metadata
.spatialos/
